.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    display: inline-block;
}

.App-header {
    text-align: right;
    background-color: #222;
    height: 60px;
    padding: 5px 10px;
    color: white;
}

.App-header h1 {
    font-weight: 300;
    font-size: 26px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
}

.App-content {
    padding: 20px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.error-toast {
    color: #e74c3c;
}